.preset-style-type {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 8px;
  padding: 8px;
}

.editing-schedule__item_group {
  background: #e0e0e0c7;
}

.editing-schedule__tag {
  color: #000000;
}
