.ant-notification-notice.ant-notification-notice-closable {
    @include media-mobile{
       width: 270px;
    }
}

.ant-notification-notice-message {
    font-size: 2rem!important;
}

.ant-notification-notice-description {
    font-size: 1.5rem!important;
}