.shedule-table-container {
  width: 100%;
  padding: 10px;
}

.shedule-table__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shedule-table__right, .shedule-table__left  {
  // width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;

  & > * {
    margin: 0.5rem;
  }
}

.shedule-table__left {
  justify-content: flex-start;
}

.shedule-table__columns-selector {
  width: 55rem;
}

.shedule-table__time-zone-sector {
  width: 12rem;
}
