.controls {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
  @include media-tablet {
    padding: 0 20px;
  }
  margin-top: 20px;
  .ant-btn,
  .ant-radio-group {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
