html {
  user-select: none;
  font-size: 15px;
  @include media-tablet {
    font-size: 18px;
  }
}

h1 {
  @include font(3.2rem, 4.2rem, 800);
  @include media-tablet {
    @include font(2.6rem, 2.6rem, bold);
  }
  @media (max-width: 800px) {
    @include font(2.6rem, 2.6rem, bold);
  }
}

h2 {
  @include font(2.4rem, 2.4rem, bold);
  @include media-tablet {
    @include font(2.2rem, 2.2rem, bold);
  }
}

.hidden {
  display: none !important;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}